
.grid-2x2 { grid-template-columns: auto auto; }
.grid-2x4 { grid-template-columns: auto auto; }
.grid-3x4 { grid-template-columns: auto auto auto; }

.grid-4x4 {
  grid-template-columns: auto auto auto auto;
 }
.grid-4x5 { grid-template-columns: auto auto auto auto; }

.grid-4x8 {
  grid-template-columns: auto auto auto auto;
 }
.grid-4x6 { grid-template-columns: auto auto auto auto; }
.grid-5x6 { grid-template-columns: auto auto auto auto auto; }

.grid-6x6 {
   grid-template-columns: auto auto auto auto auto auto;
 }
